/data_extractor/target/
/data_extractor/Cargo.lock

/telegram_bot/.env
/telegram_bot/temp/
/telegram_bot/__pycache__/
/telegram_bot/*.pyc
/telegram_bot/*.pyo
/telegram_bot/*.pyd
/telegram_bot/.Python/
/telegram_bot/build/
/telegram_bot/dist/
/telegram_bot/*.egg-info/
*.egg-info/

/telegram_bot/database/*.db

.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store
Thumbs.db

*~
*.log
*.tmp

/.rust-analyzer/